name: Update SDK Repo Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  GO_VERSION: '1.20'
  JAVA_VERSION: '11'

jobs:
  main:
    name: Update SDK Repo
    runs-on: ubuntu-latest
    steps:
      - name: Install Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Checkout generator repo
        uses: actions/checkout@v3
        with:
          repository: 'stackitcloud/stackit-sdk-generator'
          ref: 'main'
      - name: Build
        uses: ./.github/actions/build
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Download OAS
        run: make download-oas
      - name: Generate SDK
        run: make generate-sdk
      - name: Push SDK
        env: 
          GH_REPO: 'stackitcloud/stackit-sdk-go'
        run: |
          scripts/sdk-create-pr.sh "oas-bot-${{ github.run_id }}" "Generate services" "Generator: update SDK /services" "Generated from GitHub run ${{ github.run_id }} (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"